<div class="container">
  <h1 class="col-md-4 col-md-offset-4">Indy Rubyists</h1>
</div>
<br>
<div class="container">
  <ul class="list-inline col-md-4 col-md-offset-3">
    <% @pages.times do |x| %>
      <li><%= link_to "Page #{x + 1}", page: x + 1 %></li>
    <% end %>
  </ul>
</div>
<br>
<ul>
<% @indy_ruby.each do |rubyist| %>
  <ul class="list-inline row">
    <li class="col-md-2"><div class="col-md-5"><%= image_tag rubyist.avatar_url, class: "img-responsive" %></div></li>
    <li class="col-md-2">Indy Rubyist: <%= link_to rubyist[:login], rubyist.html_url %></li>
    <li class="col-md-2">Joined GitHub: <%= rubyist.created_at %></li>
    <li class="col-md-2 col-md-offset-1">Public Repos: <%= link_to rubyist.public_repos, rubyist_path(id: rubyist.login) %></li>
    <li class="col-md-2">Num of Followers: <%= rubyist.followers %></li>
  </ul>
  <hr>
<% end %>
</ul>
<br>
<div class="container">
  <ul class="list-inline col-md-4 col-md-offset-3">
    <% @pages.times do |x| %>
      <li><%= link_to "Page #{x + 1}", page: x + 1 %></li>
    <% end %>
  </ul>
</div>
